trace_dumper/trace_dumper
trace_reader/simple_trace_reader
trace_instrumentor/trace_instrumentor.so
interactive_reader/_trace_parser_ctypes.py
traces.so
demo/demo
lib*.a
*.o
*.pyc
*\#
*~
/.#simple_trace_reader.i
/Makefile.in
/Makefile.original
/autom4te.cache/*
/config.hin
/config.log
/interactive_reader/Makefile.in
/interactive_reader/Makefile.old
/stamp-h1
/.#Makefile
/aclocal.m4
/config.guess
/config.h
/config.status
/configure
/libtrace/.deps/*
/libtrace/.libs/*
/libtrace/Makefile
/libtrace/Makefile.in
/report.txt
/trace_dumper/.deps/*
/trace_dumper/Makefile
/trace_dumper/Makefile.in
/trace_dumper/aclocal.m4
/trace_dumper/autom4te.cache/*
/trace_dumper/configure
/trace_dumper/tracedumper
/trace_instrumentor/.deps/*
/trace_instrumentor/Makefile.in
/trace_reader/Makefile
/trace_reader/tracereader
/libtrace/cached_file.lo
/libtrace/halt.lo
/libtrace/libtrace.la
/libtrace/trace_metadata_util.lo
/libtrace/trace_parser.lo
/libtrace/trace_user.lo
/trace_instrumentor/Makefile
/trace_instrumentor/trace_instrumentor.lo
/trace_reader/.deps/simple_trace_reader.Po
/trace_reader/Makefile.in
